<div class="banner">
  <div class="banner-content">
    <h1>Enablr</h1>
    <p>Discover new & exciting technology projects and start enabling them today.</p>
    <%= link_to "Explore", projects_path, :class => "btn btn-outline-dark btn-lg" %>
    <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-outline-dark btn-lg" %>
  </div>
</div>

<div class="first-section"></div>

<div class="middle-section">
  <div class="first-review-container">
    <div class="first-review-avatar"></div>
  </div>
  <div class="first-review-content">"Your company is truly upstanding and is behind its product 100%. We've used Enablr for the last year. I don't know what else to say."</div>
  <div class="first-review-name">- Jane Doe (Techzio)</div>
  <div class="second-review-container">
    <div class="second-review-avatar"></div>
  </div>
  <div class="second-review-content">"It's incredible. I have gotten at least 50 times the value from Enablr. After using Enablr my business skyrocketed!"</div>
  <div class="second-review-name">- John Smith (Webit)</div>
</div>

<div class="end-section"></div>