<div class="edit-profile-container">
  <h1>Edit Comment</h1>

  <%= form_for(:comment, url: project_comment_path, method: :patch) do |f| %>
    <div class="field">
      <%= f.text_area :content, value: @comment.content %>
    </div>

    <div class="actions">
      <%= f.submit 'Update' %>
    </div>

  <% end %>
  <%= link_to(:back) do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
</div>
