// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.project-card {
  border-style: solid;
  height: 600px;
  width: 350px;
  padding: 5px 5px;
  margin: 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 314px;
  width: 350px;
  background-color: black;
}

.edit-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 66px);
  width: 100vw;
}

.projects-title {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
}