.background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 66px);
  width: 100vw;
}

.signup-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  width: 700px;
  height: 700px;
  border: 1px solid black;
  border-radius: 50px;
}

.signup-form {
  display: flex;
  grid-row: 1/2;
  grid-column: 2/3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-information-box {
  display: flex;
  grid-row: 1/2;
  grid-column: 1/2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-radius: 50px 0px 0px 50px;
}

.edit-background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.edit-container {
  margin-top: 700px;
  display: flex;
  justify-content: center;
  background-color: white;
  width: 500px;
  height: 1550px;
  border: solid 1px black;
}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// .edit-form-confirm {
//   display: flex;
//   grid-row: 1/2;
//   grid-column: 2/3;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

.field {
  margin: 10px 0px;
}

.actions.update {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.delete-button {
  margin-top: 20px;
}

.edit-profile-title {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
