
.banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2C94C;
  h1 {
    color: black;
    font-size: 96px;
    font-family: sans-serif;
  }
  p {
    font-family: sans-serif;
  }
  .btn {
    margin-right: 20px;
    border-radius: 50px;
    padding: 10px 50px;
  }
}

.first-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-image: url(asset_path("parallax.jpg"));
  background-attachment: fixed;
  background-size: cover;
}

.end-section {
  height: 500px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: grey;
}

.middle-section {
  height: 400px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #F2C94C;
}

.first-review-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 3/6;
  grid-column: 2/3;
}

.first-review-avatar {
  background-image: url(asset_path("reviewer1.jpg"));
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-size: cover;
}

.first-review-content {
  margin-left: 10px;
  display: flex;
  grid-row: 4/5;
  grid-column: 3/5;
}

.first-review-name {
  display: flex;
  grid-row: 5/6;
  grid-column: 3/5;
  justify-content: flex-end;
  color: white;
}

.second-review-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 3/6;
  grid-column: 6/7;
}

.second-review-avatar {
  background-image: url(asset_path("reviewer2.jpg"));
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-size: cover;
}

.second-review-content {
  margin-left: 10px;
  display: flex;
  grid-row: 4/5;
  grid-column: 7/9;
  align-items: center;
}

.second-review-name {
  display: flex;
  grid-row: 5/6;
  grid-column: 7/9;
  justify-content: flex-end;
  color: white;
}