
.banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-image: linear-gradient(45deg, #F2994A, #F2C94C);
  // background-image: linear-gradient(45deg, #EB5757, #000000);
  // background-image: linear-gradient(45deg, #F09819, #EDDE5D);
  // background-image: linear-gradient(90deg, #00c6ff, #0072ff);
  background-image: linear-gradient(45deg, #F2994A, #F2C94C);
  h1 {
    color: black;
    font-size: 96px;
    font-family: sans-serif;
  }
  p {
    font-family: sans-serif;
  }
  .btn {
    margin-right: 20px;
    border-radius: 50px;
    padding: 10px 50px;
  }
}

.first-section {
  height: 400px;
  background-color: black;
}

.middle-section {
  height: 300px;
  background-color: white;
}

.end-section {
  height: 400px;
  background-color: black;
}

.footer {
  height: 400px;
  background-color: #F2C94C;
}
