<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html'; charset=UTF-8; http-equiv-'Content-Type' />
</head>
<body>
  <p>
  <%= @project.name %> has finished!
  </p>
  <p>
  <%= @project.name %> <%= @project.percentage >= 100 ? "successfully hit it's target" : "didn't reach it's target" %> with a total amount raised of <strong>$<%= @project.current_amount %></strong>
  </p>
  <p>
  Thanks for your contribution!
  </p>
  <p><strong>- Enablr Team</strong></p>
</body>
</html>
