<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    Your pledge to <%= @project.name %> was submitted for a refund.
    </p>
    <p>
    Amount Requested For Refund: <strong>$<%= @enablr.pledged_amount %></strong>
    </p>
    <p>Please wait for our team to get back to you</p>
    <p><strong>- Enablr Team</strong></p>
  </body>
</html>
