// Put navbar code here

// .form-control {
//   border-radius: 50px !important;
//   height: 30px !important;
// }

.image-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
}