
.navbar-image-avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
  }
  .nav-item {
  margin-right: 10px;
  }
}

.nav-item.active.nav-link {
  margin-right: 13px;
}  
  
.nav-item.nav-link {
  margin-top: 3px;
  margin-right: 8px;
}