.current-user {
  margin: 5px 5px;
}

.navbar-image-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}
.btn {
  margin-top: 5px;
}

// .enablr {
//   float: left !important;
// }
