<div class="edit-profile-container">
  <h1>Confirm Pledge for <%= @project.name %></h1>

  <p>Perk: <%= @perk.name %></p>

  <p>Pledged Amount: $<%= @amount %></p>

  <%= render 'layouts/shared/stripe_form' %>
</div>
